---
import { Icon } from "astro-icon/components";
import { cx, cva, css } from "../../../../styled-system/css";
import { grid, gridItem } from "../../../../styled-system/patterns";

const AdditionalInfoStyles = cva({

    base: {
        display: 'flex',
        flexDirection: {
            xsm: 'column',
            md: 'row'
        },
        width: '70%',
        height: 'fit-content',
        '& .additionalInfo__content': {
            display: 'flex',
            flexDirection: 'row',
            color: '#979797',
            fontFamily: 'ubuntu_light',
            fontSize: '14px',
        }
    }

});
---

<div id="additionalInfo__container" class={cx( AdditionalInfoStyles(), "tw-additionalInfo__container" )}>
    <span class="additionalInfo__content space-x-3">
        Built with&nbsp;&nbsp;&nbsp;<Icon name="logos/skills/astro_gray" class="h-[22px] w-[22px]"/>&nbsp;&nbsp;&nbsp;Astro
    </span>
    <span class="additionalInfo__content">
        Styled with&nbsp;&nbsp;&nbsp;<Icon name="logos/skills/pandacss_gray" class="h-[22px] w-[22px]"/>&nbsp;&nbsp;&nbsp;PandaCss
    </span>
    <span id="content_styled_additional" class="additionalInfo__content">
        And&nbsp;&nbsp;&nbsp;<Icon name="logos/skills/tailwindcss_gray" class="h-[22px] w-[22px]"/>&nbsp;&nbsp;&nbsp;TailwindCss
    </span>
    <span class="additionalInfo__content">
        Deployed on &nbsp;&nbsp;&nbsp;<Icon name="logos/skills/github_gray" class="h-[18px] w-[18px]"/>&nbsp;&nbsp;&nbsp;GitPages
    </span>
</div>

<style>

    .additionalInfo__content {
        margin-top: 10px;
    }

</style>