---
import HeaderContentLeft from "./HeaderContentLeft.astro";
import HeaderContentRight from "./HeaderContentRight.astro";

import { cx, css } from "../../../../styled-system/css";
import { grid } from "../../../../styled-system/patterns";
import { cva } from "../../../../styled-system/css/cva.mjs";

const HeroHeaderStyles = cva({

    base: {
        display: 'flex',
        width: {
            xsm: '100%',
            md: '70%'
        },
        height: {
            xsm: '350px',
            md: 'fit-content',
        },
        // backgroundColor: '#161515',
        "& #header_content__box": {
            display: 'flex',
            flexDirection: {
                xsm: 'column',
                md: 'column',
                lg: 'row'
            },
            grid: {
                colSpan: 12
            }
        }
    }

});
---

<header id="hero__header" class={cx("px-48 mt-12", HeroHeaderStyles({}))}>

    <div id="header_content__box">
        <HeaderContentLeft />

        <HeaderContentRight />
    </div>

</header>