---
import { cx, cva } from "../../../../styled-system/css"
import { gridItem } from "../../../../styled-system/patterns"


const textFrontend: string = "frontend";
const textBackend: string = "backend";

const ContentRightStyles = cva({
    base: {
        display: 'flex',
        height: '100%', 
        alignItems: 'center',
        justifyItems: 'center',
        '& p#content_right__text': {
            width: {
                xsm: '100%',
                md: '100%'
            },
            height: 'fit-content',
            color: '#818181',
            fontWeight: '500',
            fontFamily: 'ubuntu_light',
            fontSize: {
                xsm: '16px',
                sm: '20px',
                md: '24px'
            },
            paddingLeft: '20px',
        }
    }
});

---

<div id="content_right__box" class={cx( gridItem({ colSpan: 8 }), ContentRightStyles() )}>
    <p id="content_right__text" class="tw-content-text">
        Dando vida a las ideas usando la mejor tecnologia para el <span class="text-color-primary shiny-text">{textFrontend}</span> 
        y <span class="text-color-secondary shiny-text">{textBackend}</span>, cumpliendo metas, un paso a la vez
    </p>
</div>

<style>
    @reference "../../../styles/global.css";

    .tw-content-text {
        @apply pl-7 pr-2 mt-7 md:mt-0 pb-2;
    }

    .text-color-primary {
        @apply text-[#d314b3a4] /* Adjust this color to change intensity/style */
    }
    .text-color-secondary {
        @apply text-[#2e9df3a4];
    }
    .shiny-text {
        background: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, 0.9) 50%,
            rgba(255, 255, 255, 0) 60%
        );
        background-size: 200% 100%;
        -webkit-background-clip: text;
        background-clip: text;
        display: inline-block;
        animation: shine 5s linear infinite;
    }

    @keyframes shine {
        0% {
            background-position: 100%;
        }
        100% {
            background-position: -100%;
        }
    }

    .shiny-text.disabled {
        animation: none;
    }

</style>