---
import HeaderContentLeft from "./HeaderContentLeft.astro";
import HeaderContentRight from "./HeaderContentRight.astro";

import { cx, css } from "../../../../styled-system/css";
import { grid } from "../../../../styled-system/patterns";
import { cva } from "../../../../styled-system/css/cva.mjs";

const HeroHeaderStyles = cva({

    base: {
        width: '100%',
        height: '350px',
        backgroundColor: '#161515',
        "& #header_content__box": {
            display: 'flex',
            flexDirection: {
                xsm: 'column',
                md: 'row'
            },
            grid: {
                colSpan: 12
            }
        }
    }

});
---

<header id="hero__header" class={cx("px-48 mt-12", HeroHeaderStyles({}))}>

    <div id="header_content__box">
        <HeaderContentLeft />

        <HeaderContentRight />
    </div>

</header>