---
import { Icon } from "astro-icon/components";
import { css, cva, cx } from "../../../../styled-system/css";

const HeroNavStyles = cva({
    base: {
        display: 'flex',
        width: '100%',
        height: '56px',
        marginTop: '24px',
        backgroundColor: '#161515',
        justifyContent: 'center',
        alignItems: 'center',
        '& #nav-list': {
            borderRadius: '30px', 
            border: '1px solid rgba(172, 172, 172, 0.3)',
            backgroundColor: '#1a1a1a',
            '& .text-list': {
                display: {
                    xsm: 'none',
                    md: 'block'
                }
            },
            '& .icon-list': {
                display: {
                    xsm: 'none',
                    md: 'block'
                }
            },
        }
    }
});
---

<nav id="hero__nav" class={cx( HeroNavStyles({}) )}>
    <ul id="nav-list" class="flex flex-row h-fit w-auto font-semibold px-16 py-3">
        <li id="nav__list_Home">
            <span class="text-list">HOME</span>
            <Icon class="icon-list" name="logos/navbar/home" class="text-white h-10 w-10" />
        </li>
        <li id="nav__list_Projects">
            <span class="text-list">PROJECTS</span>
            <Icon class="icon-list" name="logos/navbar/folder" class="text-gray-200 h-10 w-10" />
        </li>
        <li id="nav__list_Contact">
            <span class="text-list">CONTACT</span>
            <Icon class="icon-list" name="logos/navbar/cursor" class="text-gray-200 h-10 w-10" />
        </li>
    </ul> 
</nav>

<style>
</style>
    <!-- @reference "../../../styles/global.css"

    .nav-list {
        @apply 
    } -->