---
import { Icon } from "astro-icon/components";
import { cva, cx } from "../../../../styled-system/css";

const HeroNavStyles = cva({
    base: {
        display: 'flex',
        width: {
            xsm: '100%',
            md: '100%'
        },
        height: {
            xsm: '55px',
            md: '56px'
        },
        marginTop: {
            xsm: '0px',
            md: '24px'
        },
        backgroundColor: 'rgba(22, 21, 21, 0.49)',
        borderRadius: '16px',
        boxShadow: '0 4px 30px rgba(0, 0, 0, 0.1)',
        backdropFilter: 'blur(5.9px)',
        border: '1px solid rgba(22, 21, 21, 0.86)',
        '& ul[id^=ul__nav-list]': {
            display: 'flex',
            justifyContent: 'center',
            alignItems: 'center',
            alignSelf: 'center',
            width: '100%',
            height: 'fit-content',
            flexDirection: 'row',
            borderRadius: {
                xsm: '0px',
                md: '30px'
            }, 
            border: '1px solid rgba(172, 172, 172, 0.3)',
            gap: '60px',
            "& li[id^='li__list_']": {
                display: 'flex',
                cursor: 'pointer',
                '& .text-list': {
                    display: {
                        xsm: 'none',
                        md: 'flex'
                    },
                    color: {
                        base: '#8d8d8d',
                        _hover: 'white'
                    },
                    fontFamily: 'ubuntu_medium',
                    fontSize: '14px'
                },
                '& .box__icon-list': {
                    display: {
                        xsm: 'flex',
                        md: 'none'
                    },
                    flexDirection: 'column',
                    alignItems: 'center',
                    justifyContent: 'center',
                    fontWeight: '500',
                    fontFamily: 'ubuntu_medium',
                    color: {
                        base: 'gray.500',
                        _hover: 'white'
                    },
                },
            },
        }
    }
});
---

<nav id="hero__nav" class={cx( HeroNavStyles({}) )}>
    <ul id="ul__nav-list" class:list={["ul-tw-styles"]}>
        <li id="li__list_Home">
            <a href="#hero">
                <span class="text-list">HOME</span>
                <div class:list={["box__icon-list"]}>
                    <Icon class="icon-list" name="logos/navbar/home" class="h-7 w-7" />
                    <span>Home</span>
                </div>
            </a>
        </li>
        <li id="li__list_Projects">
            <a href="#my-projects">
                <span class="text-list">PROYECTOS</span>
                <div class="box__icon-list">
                    <Icon class="icon-list" name="logos/navbar/folder" class="h-7 w-7" />
                    <span>Proyectos</span>
                </div>
            </a>
        </li>
        <li id="li__list_Contact">
            <a href="#my-contact">
                <span class="text-list">CONTACTO</span>
                <div class="box__icon-list">
                    <Icon class="icon-list" name="logos/navbar/cursor" class="h-7 w-7" />
                    <span>Contacto</span>
                </div>
            </a>
        </li>
    </ul> 
</nav>

<style>
    @reference "../../../styles/global.css";
    
    .ul-tw-styles {
        @apply -mt-1
    }
</style>