---
import { css } from "../../styled-system/css";


---

<div id="container">
	<main>
		<section id="hero">
			<h1 class="text-3xl font-bold underline">Hola mundo</h1>
		</section>
	</main>
</div>

<style>
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
	}
</style>