---
import HeroNavbar from './landing-page/hero/HeroNavbar.astro';
import Header from './landing-page/hero/Header.astro';

import TrailContent from './landing-page/hero/TrailContent.astro';

import WhatAboutSection from './landing-page/what-about/WhatAboutSection.astro';

import MyProjectsSection from './landing-page/my-projects/MyProjectsSection.astro';

import ContactSection from './landing-page/contact/ContactSection.astro';

import AdditionalInfo from './landing-page/additional-info/AdditionalInfo.astro';

import { css, cva, cx } from '../../styled-system/css';

const ContainerNavbarStyles = cva({
	base: {
		display: 'flex',
		position: {
			xsm: 'fixed',
			md: 'sticky'
		},
		bottom: {
			xsm: '0',
			md: 'inherit'
		},
		top: {
			xsm: 'inherit',
			md: '0'
		},
		width: {
			xsm: '100%'
		},
		height: 'fit-content',
	},
})
---

<div id="container">
	<main class="bg-[#161515] flex flex-col">

		<div id="container-navbar" class={cx( ContainerNavbarStyles({}) )}>
			<HeroNavbar />
		</div>

		<section id="hero" class="flex w-full h-fit bg-[#161515] order-1">
			<Header/>
		</section>

		<section id="my-stack-trail" class="flex mt-2 md:mt-8 w-full h-fit justify-center bg-[#161515] order-2">
			<TrailContent />
		</section>

		<section id="what-about" class="flex w-full h-fit mt-16 bg-[#161515] justify-center order-3">
			<WhatAboutSection />
		</section>

		<section id="my-projects" class="flex w-full h-fit md:mt-14 bg-[#161515] justify-center order-4">
			<MyProjectsSection />
		</section>

		<!-- <section id="my-projects" class="flex w-full h-fit mt-14 bg-[#161515] justify-center order-5">
			<ContactSection />
		</section>

		<section id="additional-info" class="flex w-full h-fit mt-14 bg-[#161515] justify-center order-6">
			<AdditionalInfo />
		</section>

		<footer id="footer" class="flex w-full h-fit my-10 bg-[#161515] justify-center order-7">
			<div class="footer_content__box" class="h-[50px] w-full align-middle">
				<p class={cx( css({ color: 'gray.400', fontFamily: 'ubuntu_regular' }) )}>
					Copyright 2025
				</p>
			</div>
		</footer> -->

	</main>
</div>

<style>
	@reference "../styles/global.css";

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: fit-content;
	}

	main {
		width: 100%;
		height: fit-content;
		display: flex;
	}

	#what-about {
		@apply mt-20
	}

	#my-projects {
		@apply mt-14;
	}
</style>