---
import HeroNavbar from './landing-page/HeroNavbar.astro';
import Header from './landing-page/Header.astro';
import TrailContent from './landing-page/TrailContent.astro';

---

<div id="container">
	<main class="bg-[#161515] flex flex-col">

		<section id="hero" class="w-full h-fit bg-[#161515]">
			<HeroNavbar />
			<Header />
		</section>

		<section id="my-stack-trail" class="flex mt-4 w-full h-fit justify-center">
			<TrailContent />
		</section>

		<footer id="footer">
			<section id="footer__contact">

			</section>
		</footer>

	</main>
</div>

<style>
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
	}
</style>