---
import { cx, cva } from "../../../../styled-system/css";
// import { colorPalette } from "../../../styles/color-palette.ts";

const colorPalette = {
    primaryHeadingFontColor: 'rgb(163,118,254)',
    primaryFontColor: 'white',
    primaryCardBgColor: 'rgb(31,31,31)',
    primaryMuteFontColor: 'rgb(152,152,152)'
}

const MyProjectsStyles = cva({

    base: {
        display: 'flex',
        flexDirection: 'column',
        width: {
            xsm: '90%'
        }, 
        height: {
            xsm: 'fit-content'
        }, 
        // backgroundColor: 'red.200',
        '& #upper_content_box': {
            display: 'flex',
            flexDirection: 'column',
            width: '100%',
            height: '100px',
            order: '1',
            '& #upper-title': {
                color: colorPalette.primaryHeadingFontColor,
                fontSize: 'xl',
                fontFamily: 'ubuntu_medium'
            },
            
            '& #secondary-title': {
                color: colorPalette.primaryFontColor,
                fontSize: '3xl',
                fontFamily: 'ubuntu_medium'
            },

        }
    }

})

const projectsCarouselStyles = cva({
    base: {
        order: '2',
        width: {
            xsm: '100%'
        },
        height: {
            xsm: 'fit-content'
        },
        backgroundColor: 'amber.700'
    }
})

---

<div id="my-projects__container" class={cx( MyProjectsStyles(), 'tw-projects-container' )}>

    <div id="upper_content_box" class="tw-upper-content-box">
        <span id="upper-title">My work</span>
        <span id="secondary-title">Projects</span>
    </div>
    <div id="projects_carousel_box" class={cx( projectsCarouselStyles({}), 'tw-projects-carousel' )}>
        
        <div id="card" class="w-full md:w-[350px] h-[275px] bg-amber-300">
            <div id="card-hero" class="flex justify-center align-middle w-full h-[200px] bg-amber-600">
                <div class="w-full h-full p-3 bg-amber-50">

                </div>
            </div>
            <div id="card-content" class="w-full h-[75px] bg-amber-800">
                <div>

                </div>
            </div>
        </div>

    </div>
    <!-- <div id="footer_container" class="w-full h-[50px] bg-amber-50 order-3">
    </div> -->

</div>

<style>

    @reference "../../../styles/global.css";

    /* Esta es una propiedad temporal para que no se vea en totalidad el contenido de la pagina */
    .tw-projects-container {
        @apply pl-4 mb-[150px];
    }
    .tw-upper-content-box {
        @apply mb-[20px];
    }

</style>