---
import { date } from "astro:schema";
import { cx, cva } from "../../../../styled-system/css";
import Card from "../../utils/Card.astro";
import { Icon } from "astro-icon/components";
// import { colorPalette } from "../../../styles/color-palette.ts";

const colorPalette = {
    primaryHeadingFontColor: 'rgb(163,118,254)',
    primaryFontColor: 'white',
    primaryCardBgColor: 'rgb(31,31,31)',
    primaryMuteFontColor: 'rgb(152,152,152)'
}

const MyProjectsStyles = cva({

    base: {
        display: 'flex',
        flexDirection: 'column',
        width: {
            xsm: '90%',
            md: '70%'
        }, 
        height: {
            xsm: 'fit-content'
        }, 
        // backgroundColor: 'red.200',
        '& #upper_content_box': {
            display: 'flex',
            flexDirection: 'column',
            width: '100%',
            height: '100px',
            order: '1',
            '& #upper-title': {
                // color: colorPalette.primaryHeadingFontColor,
                fontSize: 'xl',
                fontFamily: 'ubuntu_light'
            },
            
            '& #secondary-title': {
                color: colorPalette.primaryFontColor,
                fontSize: '4xl',
                fontFamily: 'ubuntu_regular'
            },

        }
    }

})

const projectsCarouselStyles = cva({
    base: {
        display: 'flex',
        flexDirection: {
            xsm: 'column',
            md: 'row'
        },
        order: '2',
        width: {
            xsm: '100%'
        },
        height: {
            xsm: 'fit-content',
            md: 'fit-content'
        },
    }
});

const footerStyles = cva({
    base: {
        display: 'flex',
        order: '3',
        width: '100%',
        height: '50px',
        justifyContent: 'center',
        alignItems: 'center',
        _hover: {
            backgroundColor: 'rgba(125,125,125, 0.3)',
            cursor: 'pointer'
        },
        '& span#footer_content': {
            display: 'flex',
            fontFamily: 'ubuntu_medium',
            fontSize: '16px',
        }
    }
})

interface CardInfo {
    projectTitle: string;
    status: string;
    lastUpdate: string;
    url: string;
    imageUrl: string;
}

const cardsInfo: CardInfo[] = [
    {
        projectTitle: 'Multi-Step Form using Astro, TS, Svelte, PandaCSS, Zod, NanoStores.',
        status: 'Finished',
        lastUpdate: 'Submitted 6 months ago',
        url: 'https://www.frontendmentor.io/solutions/multi-step-form-using-astro-ts-svelte-pandacss-zod-nanostores-lL2g_GewLZ',
        imageUrl: '/my-site/assets/images/proy_1.webp',
    },
    {
        projectTitle: 'Interactive Card Details page using Astro, Svelte, Panda-css',
        status: 'Finished',
        lastUpdate: 'Submitted 7 months ago',
        url: 'https://www.frontendmentor.io/solutions/interactive-card-details-page-using-astro-svelte-panda-css-mjaMxo0z7J',
        imageUrl: '/my-site/assets/images/proy_2.webp',
    },
    {
        projectTitle: 'Interactive Comment Section Astro, React, TanstackQuery, PandaCss/Shadcn',
        status: 'Work In Progress',
        lastUpdate: 'Submitted 8 months ago',
        url: 'https://www.frontendmentor.io/solutions/interactive-comment-section-astroreacttanstackquerypandacssshadcn-Tjp-IUDuXD',
        imageUrl: '/my-site/assets/images/proy_3.webp',
    }
]

---

<div id="my-projects__container" class={cx( MyProjectsStyles(), 'tw-projects-container' )}>

    <div id="upper_content_box" class="tw-upper-content-box">
        <span id="upper-title" class:list={["tw-upper-title shiny-text"]}>Mi trabajo</span>
        <span id="secondary-title">Proyectos</span>
    </div>
    <div id="projects_carousel_box" class:list={[ projectsCarouselStyles({}), 'tw-projects-carousel' ]}>
        {
            cardsInfo.map(cardInfo => (
                <Card cardInfo={cardInfo}/>
            ))
        }
    </div>

    <a href="https://github.com/MarioA96" target="_blank" rel="noopener" id="footer_container" class={cx( footerStyles({}) )}>
        <span id="footer_content">
            Más proyectos en &nbsp;&nbsp;<Icon id="footer_content__icon" name="logos/github" class="h-[25px] w-[25px]"/>
        </span>
    </a>

</div>

<style>

    @reference "../../../styles/global.css";

    .tw-projects-container {
        @apply space-y-2;
    }

    .tw-upper-content-box {
        @apply mb-[20px];
    }


    span.tw-upper-title {
        @apply text-[#9c00fda4]
    }
    span.shiny-text {
        background: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, 0.9) 50%,
            rgba(255, 255, 255, 0) 60%
        );
        background-size: 200% 100%;
        -webkit-background-clip: text;
        background-clip: text;
        display: inline-block;
        animation: shine 5s linear infinite;
    }
    @keyframes shine {
        0% {
            background-position: 100%;
        }
        100% {
            background-position: -100%;
        }
    }

    #footer_container {
        @apply rounded-3xl border border-solid;
        border-color: #303030;
        color: rgb(130, 130, 130);
        margin-top: 10px;
    }
    #footer_container:hover {
        color: white;
    }

</style>