---

---

<div id="card" class="w-full md:w-[350px] h-[275px] bg-amber-300">
    <div id="card-hero" class="flex justify-center align-middle w-full h-[200px] bg-amber-600">
        <div class="w-full h-full p-3 bg-amber-50">

        </div>
    </div>
    <div id="card-content" class="w-full h-[75px] bg-amber-800">
        <div>

        </div>
    </div>
</div>